@font-face {
    font-family: 'dinregular';
    src: url('../fonts/din_regular-webfont.woff2') format('woff2'),
         url('../fonts/din_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dinregular';
    src: url('../fonts/din_regular-webfont.woff2') format('woff2'),
         url('../fonts/din_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'action_manregular';
    src: url('../fonts/action_man-webfont.woff2') format('woff2'),
         url('../fonts/action_man-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}